---
layout: archive
permalink: /publications/
author_profile: true
---

{% include base_path %}

<div class="wordwrap">
  <h3>Book Chapter</h3>
  <p>Oceans and Human Health (2nd Edition), responsible for the book chapter entitled “Emerging Microbial Contaminants in Ocean: Modelling the fate and transport of pathogens and microbial indicators in coastal environments”, published by the ELSEVIER Publisher on 23 June 2023.</p>
</div>

<h3>Peer Reviewed Journal Articles</h3>

{% comment %} 注意这里改成了 site.data.publications-list {% endcomment %}
{% assign sorted_pubs = site.data.publications-list | sort: 'year' | reverse %}
{% assign current_year = '' %}

<div class="publications-list">
  <ol>
    {% for pub in sorted_pubs %}
      {% if pub.year != current_year %}
        {% if current_year != '' %} </ol> {% endif %}
        <h2 id="{{ pub.year }}">{{ pub.year }}</h2>
        <ol>
        {% assign current_year = pub.year %}
      {% endif %}

      <li style="margin-bottom: 15px;">
        {{ pub.citation }}
        {% if pub.doi %}
          <a href="https://doi.org/{{ pub.doi }}" target="_blank" style="text-decoration: underline;">[Link]</a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
